{{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.question) }}

    {# Vérifiez si l'option include_publication_date est définie et vraie avant de rendre le champ #}
    {% if include_publication_date is not defined or include_publication_date %}
        {{ form_row(form.publication_date) }}
    {% endif %}

    {{ form_row(form.validated) }}
    {{ form_row(form.country) }}
    {{ form_row(form.views) }}
    {{ form_row(form.tags) }}

    <button type="submit">Enregistrer</button>

{{ form_end(form) }}
